body{
    /* height: 100vh; */
    width:100vw;
    background-color: #242424;
    margin: 0px;
}
header
{
    height: 80px;
    width:100vw;
    position: fixed;
    background-color:#121212;
    top: 0px;
    display: flex;
    align-items: center;  
  
       
}

.big-container
{
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    margin-top: 80px;
   }
.song-box {
    height: 80px;
width:90vw;
display: flex;
align-items: center;
border-radius: 10px;
margin: 3px;
padding-left:5px;
padding-right:10px;

background-color: #242424;
}
   
    
    

.card {
    height: 60px;
    width: 60px;
    /* background-image: url(images.jpg); */
    background-size: cover;
    margin: 10px;
    border-radius: 5px;

}

.circ
{
    height: 60px;
    width:60px;
    /* background-image: url(images-1.png); */
    background-size: cover;
    background-color:rgb(170, 130, 170);
    margin:11px;
    margin-left: 22px;
    border-radius: 50%;
    align-content: center;
}

.head-in,.head-in1
{
    margin-left: 30px;
    color:aliceblue;
    height: 20px;
    width:82px;
    background-color: #242424;
    border-radius: 3px;
    display: block;
    padding: 10px;
    text-align: center;

    
}
.song,.art,.song-1,.singer{
    color:aliceblue;
    
}
a
{
    text-decoration: none;
    color: aliceblue;
}
audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color:  maroon;
     color: #f4f4f7;
     /* height: 90px;
     width:100vw; */
     }
     
audio:focus-visible {
    height: 60px;
    margin-right: 6px;
    width: 344px;
}
     audio:focus-visible
     {
        height: 2px;
     }

audio
{

    /* background-color:#121212;     */
    margin: 0px;
    position: fixed;
    bottom: 80px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 5px;

}
footer{
    height: 80px;
    width:100vw;
    position: fixed;
    background-color: #1db954;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card
{
    height: 40px;
    width: 40px;
    background-image: url(tum.jpg);
    background-size: cover;
    margin: 10px;
    border-radius: 5px;

}

.card-1{
    background-image: url(ayy.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
   
    margin: 10px;
    border-radius: 5px;

}
.card-2{
    background-image: url(cha.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
   
    margin: 10px;
    border-radius: 5px;

}
.card-3{
    background-image: url(dam.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
   
    margin: 10px;
    border-radius: 5px;

}
.card-4{
    background-image: url(dor.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
   
    margin: 10px;
    border-radius: 5px;

}
.card-5
{
    background-image: url(idh.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
        margin: 10px;
    border-radius: 5px;

}

i
{
    margin: 6px;
}

